body{
	background: gray;
	font-family: arial;
	padding-left: 5%;
}
p{
	padding: 20px;
}
.btn{
	padding: 10px;
	border-radius: 5px;
	border:2px solid steelblue;
	color: white;
}
.btn:hover{

	border:2px solid white;
	transform: scale(1.5);
	transition: all ease 1s;
	margin: 20px;
}
.btn-facebook{
	background: steelblue;
	color: white;
}
.btn-twitter{
	background: #1CBEE1;
}
.banner:hover{
	background: red;
	text-align: center;
	color: white;

}
.banner:hover{
	
	transform: translateX(0px,500px);
	transition: all ease 4s;
}