body{
	background: gray;
	font-family: arial;
	padding-left: 5%;
}

.btn{
	padding: 10px;
	border-radius: 5px;
	border:2px solid steelblue;
	color: white;
	font-size: 1.2em;
}
.btn:hover{

	border:2px solid white;
	transform: scale(1.2);
	transition: all ease 1s;
	margin: 20px;
}
.btn-facebook{
	background: steelblue;
	color: white;
}
.btn-twitter{
	background: #1CBEE1;
}
.banner h2{
	background: red;
	text-align: center;
	color: white;
	margin: 0 auto;

}
.banner h2:hover{
	
	transform: scale(1.6);
	transition: all ease 2s;
}